.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    width: auto;
    text-align: center;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}
