*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(12, 55, 88);
}

form{
    background-color: rgb(212, 212, 212);
    padding: 80px;
    margin: 20px;
    font-size: 20px;
    /* font-weight: 50px; */
}
#resultContainer{
color: black;
}