@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Montserrat:wght@300&family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

/* Desktop and Large Screens */
#nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    font-size: 15px;
}

#nav i {
    padding: 3px;
    font-size: 2.5vw;
    background-color: black;
    color: white;
    border-radius: 50px;
}

#center {
    width: 100%;
    padding: 10px 20px;
}

#center h1 {
    font-size: 3.5vw;
    line-height: 3.5vw;
}

#center-br {
    height: 200px;
    width: 100%;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 2vw;
    line-height: 2vw;
}

#lst {
    width: 20%;
}

.elem {
    padding: 10px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i {
    opacity: 0;
}

.elem a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.elem:hover i {
    opacity: 1;
}

#button {
    height: 37%;
    background-image: url(https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 32%;
}

/* Tablet View */
@media (max-width: 768px) {
    #nav {
        height: 60px;
        padding: 0 15px;
        font-size: 12px;
        gap: 15px;
    }

    #nav i {
        font-size: 3vw;
    }

    #center h1 {
        font-size: 7vw;
        line-height: 6vw;
    }

    #center-br {
        flex-direction: column;
        height: auto;
        padding: 5px;
        font-size: 3.8vw;
        line-height: 5vw;
    }
    #center-br p{
        margin-bottom: 3vw;
    }

    #lst {
        width: 100%;
    }

    .elem a {
        font-size: 4vw;
    }

    .elem:hover i {
        opacity: 1;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    #nav {
        height: 50px;
        padding: 0 10px;
        font-size: 10px;
        gap: 10px;
    }

    #nav i {
        font-size: 3vw;
        padding: 4px;
    }

    #center h1 {
        font-size: 7vw;
        line-height: 7vw;
    }

    #center-br {
        font-size: 3.8vw;
        line-height: 5vw;
        padding: 5px;
    }

    #center-br p{
        margin-bottom: 4vw;
    }

    #lst {
        width: 100%;
    }

    .elem {
        padding: 5px;
        border-top: 1px solid black;
    }

    .elem:hover i {
        opacity: 1;
    }

    .elem a {
        font-size: 4vw;
    }

}

